html{
    background-color: transparent;
}
body {
    margin:0;
    padding:0;

}/* CSS Document */

#Holder {
    width:900px;
    height:auto;
    margin-left:auto;
    margin-right:auto;
    margin-top:21px;
    margin-bottom:21px

}
#Header {
    height:53px;
    background-image:url(../images/MCe.gif);
    background-repeat:no-repeat;
    margin-bottom:5px
}
#NavBar  {
    height:60px;
    background-color:rgb(242, 242, 242);

}
#Content {
    height:auto;
    clear:both;
    overflow:auto;
}
#PageHeading {
    height:auto;
    padding:11px;
}
#ContentLeft {
    width:280px;
    float:left;
    padding-top:11px;
    padding-left:11px;
}


#Footer {
    height:100px;
}
h1 {
    margin:0;
    font-family:Arial, Helvetica, sans-serif;
    color:#666;
    font-weight:lighter;
}
h2 {
    margin:0;
    font-family:Arial, Helvetica, sans-serif;
    font-weight:lighter;
    color:#999;
}
h6 {
    margin:0;
    font-family:Arial, Helvetica, sans-serif;
    font-weight:lighter;
    font-size:14px;
    color:#333;
}
.StyleTxtField {
    border:1px solid #666;
    border-radius:6px;
    width:190px;
    height:30px;
}

#Sign, #ForgPass

{
    width: 330px;
    height: 290px;
    border: 1px solid #bbb;
    background-color: rgb(242,242,242);
    border-radius: 8px;
    padding: 15px;
    margin: 0 auto;
}

form{
    background-image: url("../images/bug.gif");

}


#LoginForm input, #Sign input
{
    margin-bottom: 15px;
    padding: 6px;
    width: 290px;
}


input[name="reset"],[name="submit"] {

    width: auto !important;

}

#LoginForm

{
    width: 330px;
    height: 161px;
    border: 1px solid #bbb;
    background-color: rgb(242,242,242);
    border-radius: 8px;
    border-spacing: 2px;
    padding: 13px;
    margin: 0 auto;
}
* { box-sizing: border-box; }

#Bug

{
    width: 500px;
    height: 230px;
    border: 1px solid #bbb;
    background-color: lightgray;
    border-radius: 20px;
    padding: 20px;
    margin: 0 auto;
}

input#bugsubmit{
    border-radius: 8px;
}

#Bugloader

{
    width: 300px;
    height: 100px;
    border: 1px solid #bbb;
    background-color: lightgray;
    border-radius: 20px;
    padding: 30px;
    margin: 0 auto;
}